<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ValidMovieRegex" value=".*(mkv|avi|mpeg|mpg|mov|ogg|ogm|mp4|mpeg4|vob)$"/>
    <add key="RemoveWords" value="1080i|720p|1080p|720i|bluray|blueray|dtshd|dts-es|dts|ac3|sdd|aac|x264|hdtv|5\.1|internal|hddvd|web-dl|dd5\.1|h\.264|NhaNc3|repack|nlsub|eng|cd[0-9]|dvdrip|xvid|divx|nhd|norwegian|proper|blu|ray"/>
    <!-- <add key="googleApiKey" value=""/> ADD YOUR GOOGLE API KEY HERE -->
  </appSettings>

  <connectionStrings>
  </connectionStrings>
</configuration>
