<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EpidaurusDbContainer" connectionString="metadata=res://*/Entities.EpidaurusDb.csdl|res://*/Entities.EpidaurusDb.ssdl|res://*/Entities.EpidaurusDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=palantir;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>